*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
    cursor: default;
}
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
#indexBody{
    width:100%;
    height:100%;
}